@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

* {

margin: 0;
padding: 0;
font-weight: 400;
} 
html {

    background: linear-gradient(#af67ef, #6565a7);
    min-height: 100%;
   
}
body {

    font-family: 'Montserrat', sans-serif;
}
main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.faq {

    width: 65%;
    min-height: 480px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.faq .ilustracao {

    position: relative;
    left: -120px;
    width: 50%;
    margin: 50px 0;
}
.faq .conteudo {

    width: 40%;
    padding-bottom: 20px;

}
.faq .conteudo h1 {

    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.faq .conteudo .itens {

    list-style-type: none;
}
.faq .conteudo .itens .item {

    cursor: pointer;
    background-image: url(icone-seta-pra-baixo.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}